.body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.title{
  height: 100px;
}
.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tooltip{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px); /* Ajusta el valor según el nivel de desenfoque que desees */
  background-color: rgba(0, 0, 0, 0.5);
}